body{
    background-image: url(/php_portfolio/picture/fond_acceuil.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family:sans-serif;
    padding:0;
    margin:0;
    height:100%;
    width:100%;
}
h1{
    text-align: center;
    font-size: 3em;
    text-shadow: 1em 1em 2em white, 0 0 1em white, 0 0 0.2em white;
}
h3{
    margin-bottom: 0;
    text-align: center;
    font-size: 1em;
}
#Pacceuil{
    text-align: center;
    font-size: 2em;
    text-shadow: 1em 1em 2em white, 0 0 1em white, 0 0 0.2em white;
}
.divOuro{
    text-align: center;
}
#Ouro{
    box-sizing: content-box;
    width: 100%;
    height:50%;
    width:40%;
}
